Data is from: https://www.kaggle.com/datasets/uciml/adult-census-income

In [4]:
library(tidyverse)
library(tidymodels)

In [3]:
data = read_csv('https://raw.githubusercontent.com/calvingdu/dsci100-003-23/master/data/adult_census.csv')
head(data)

Rows: 32561 Columns: 15
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (9): workclass, education, marital.status, occupation, relationship, rac...
dbl (6): age, fnlwgt, education.num, capital.gain, capital.loss, hours.per.week

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age workclass fnlwgt education    education.num marital.status
1 90  ?          77053 HS-grad       9            Widowed
2 82  Private   132870 HS-grad       9            Widowed
3 66  ?         186061 Some-college 10            Widowed
4 54  Private   140359 7th-8th       4            Divorced
5 41  Private   264663 Some-college 10            Separated
6 34  Private   216864 HS-grad       9            Divorced
  occupation        relationship  race  sex    capital.gain capital.loss
1 ?                 Not-in-family White Female 0            4356
2 Exec-managerial   Not-in-family White Female 0            4356
3 ?                 Unmarried     Black Female 0            4356
4 Machine-op-inspct Unmarried     White Female 0            3900
5 Prof-specialty    Own-child     White Female 0            3900
6 Other-service     Unmarried     White Female 0            3770
  hours.per.week native.country income
1 40             United-States  <=50K
2 18             United-States  <=50K
3 40             United-States  <=50K
4 40             United-States  <=50K
5 40             United-States  <=50K
6 45             United-States  <=50K