## Classification of Income Being Above or Below/Equal to $50,000 in Adult Census Data

By: Sunsar, Sarah, Emily, Calvin (DSCI 100 003 - Group 23)

Data is from: https://www.kaggle.com/datasets/uciml/adult-census-income

The dataset used for this analysis is derived from the 1994 Census Bureau database. 

The dataset contains a diverse range of numerical and categorical attributes, such as age, hours worked per week,  sex, and more. In this project, we will filter and simplify some categories from this dataset to predict whether an individual"s annual salary falls above or below $50,000.

The question this project will seek to answer is: 

**How do different aspects of a person predict whether annual income will be above or below $50K annually?**

# Reading in Data

In [232]:
library(tidyverse)
library(tidymodels)

In [233]:
df = read_csv("https://raw.githubusercontent.com/calvingdu/dsci100-003-23/master/data/adult_census.csv")

# Splitting the data
df_split <- initial_split(df, prop = 0.8, strata = income)
df_train <- training(df_split)
df_test <- testing(df_split)

paste0("Training set row count: ", nrow(df_train))
paste0("Testing set row count: ", nrow(df_test))

Rows: 32561 Columns: 15
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (9): workclass, education, marital.status, occupation, relationship, rac...
dbl (6): age, fnlwgt, education.num, capital.gain, capital.loss, hours.per.week

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] "Training set row count: 26048"

[1] "Testing set row count: 6513"

In [234]:
head(df_train, 3)

  age workclass fnlwgt education    education.num marital.status
1 90  ?          77053 HS-grad       9            Widowed
2 82  Private   132870 HS-grad       9            Widowed
3 66  ?         186061 Some-college 10            Widowed
  occupation      relationship  race  sex    capital.gain capital.loss
1 ?               Not-in-family White Female 0            4356
2 Exec-managerial Not-in-family White Female 0            4356
3 ?               Unmarried     Black Female 0            4356
  hours.per.week native.country income
1 40             United-States  <=50K
2 18             United-States  <=50K
3 40             United-States  <=50K

# Tidying/Cleaning The Data & Selecting Columns
We can begin by tidying up the data. Something we noticed immediately that there are a lot of categorical columns. To tackle this, we plan to make buckets of categories and then turn them into dummy variables. For example, we can turn __sex__ into a dummy variable where 0 = male and 1 = female, make dummy variables by bucketting different things such as paid/unpaid in __workclass__, or making a dummy variable for every unique value. 

These are the columns we plan to use and how we plan to tackle them to make them usable in data: 
- **Age**: No changes (either than scaling/imputation)
- **Workclass**: Make a dummy variable for paid/unpaid
- **Education**: Simplified to a dummy variable of if College Graduate or Not
- **Occupation**: Make a dummy variable for all the occupations
- **Relationship**: Simplified a dummy variable of Married or Not
- **Sex**: Transformed into a Dummy Variable
- **Capital Gain**: No changes (either than scaling/imputation)
- **Capital Loss**: No changes (either than scaling/imputation)
- **Hours Per Week**: No changes (either than scaling/imputation)
- **Native Country**: Evaluated what country has the most people with income > 50k (United States by a large margin) and then make a dummy variable for being in this country or not 

**Dropped Columns & Reasoning**: 
- fnlwgt: Unclear how this relates
- education.num: Already have education
- race: Don"t believe this is significant to the study so removing to avoid overfitting 
- marital.status: We think it"s similar to relationship so we remove to avoid overfitting

This is also some tidying to do. We can initially see that there are some missing values in __workclass__ and __occupation__ represented as ?. Since we believe these are extremely important roles to guess income category, we remove any rows that don't have data for this.

In [235]:
filtered_df <- df_train |>
  select(age, workclass, education, occupation, relationship, sex,
         capital.gain, capital.loss, hours.per.week, native.country, income) |>
  filter(workclass != "?" & occupation != "?")

Then, we can begin by making dummy variables in the data using the above choices

### Binary Preprocessing

In [236]:
# Making a function to be used later on testing data 
preprocess_binary <- function(df){
    transformed_df <- df |>
        mutate(is_married = ifelse((relationship == "Husband" | relationship == "Wife" |relationship == "Wife"),1,0)) |>
        mutate(sex_dummy = ifelse(sex == "Female", 1, 0)) |>
        mutate(being_paid = ifelse(workclass != "Self-emp-not-inc" & workclass != "Without-pay" & workclass != "Never-worked", 1, 0)) |>
        mutate(is_american = ifelse(native.country == "United-States", 1, 0))
    return(transformed_df)
}

binary_df <- preprocess_binary(filtered_df)

### Dummy Variables for Every Occupation

In [237]:
# Making a function to use later
preprocess_occupation <- function(df, occupations){
    for (occ in occupations) {
        col_name <- gsub("[^a-zA-Z0-9 ]", ".", tolower(occ))
        df[[col_name]] <- as.integer(df$occupation == occ)
    }
    return(df)
}

occupations_df <- preprocess_occupation(binary_df, unique_occupations)

### Removing Original Variables

In [245]:
tidy_df <- occupations_df |>
    select(-c(occupation, workclass, education, occupation, relationship, sex, native.country))

head(tidy_df)

  age capital.gain capital.loss hours.per.week income is_married sex_dummy
1 82  0            4356         18             <=50K  0          1
2 54  0            3900         40             <=50K  0          1
3 41  0            3900         40             <=50K  0          1
4 34  0            3770         45             <=50K  0          1
5 38  0            3770         40             <=50K  0          0
6 68  0            3683         40             <=50K  0          1
  being_paid is_american exec.managerial ... adm.clerical sales
1 1          1           1               ... 0            0
2 1          1           0               ... 0            0
3 1          1           0               ... 0            0
4 1          1           0               ... 0            0
5 1          1           0               ... 1            0
6 1          1           0               ... 0            0
  transport.moving craft.repair farming.fishing protective.serv tech.support
1 0                0            0               0               0
2 0                0            0               0               0
3 0                0            0               0               0
4 0                0            0               0               0
5 0                0            0               0               0
6 0                0            0               0               0
  handlers.cleaners priv.house.serv armed.forces
1 0                 0               0
2 0                 0               0
3 0                 0               0
4 0                 0               0
5 0                 0               0
6 0                 0               0

# Preliminary Exploratory Data Analysis

## Summary Table

In [256]:
tidy_df |>
group_by(income) |>
summarize(across(everything(), ~ mean(., na.rm = TRUE), .names = "mean_{.col}")) |>
t()

                       [,1]         [,2]
income                 <=50K        >50K
mean_age               36.61644     43.94535
mean_capital.gain       151.7332    3954.2564
mean_capital.loss       53.62696    195.71728
mean_hours.per.week    39.40339     45.75573
mean_is_married        0.3349954    0.8512762
mean_sex_dummy         0.379329     0.146106
mean_being_paid        0.9194624    0.9064136
mean_is_american       0.8903040    0.9167212
mean_exec.managerial   0.08953444   0.26128927
mean_machine.op.inspct 0.07593084   0.03223168
mean_prof.specialty    0.09901902   0.24312827
mean_other.service     0.13652377   0.01897906
mean_adm.clerical      0.14221451   0.06593586
mean_sales             0.1150615    0.1294175
mean_transport.moving  0.05560674   0.04106675
mean_craft.repair      0.1391794    0.1192736
mean_farming.fishing   0.03810092   0.01456152
mean_protective.serv   0.01918595   0.02765052
mean_tech.support      0.02823695   0.03550393
mean_handlers.cleaners 0.05528156   0.01063482
mean_priv.house.serv   0.0056907485 0.0001636126
mean_armed.forces      0.0004335808 0.0001636126

## Summary Visualization

# Methods

# Expected outcomes and significance